#closetBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

#closetBar > p {
    margin: 0;
}

#leftMenu {
    position: absolute;
    left: 20px;
    top: 0px;
}

#rightSearch {
    position: absolute;
    right: 20px;
}

#chooseMedia {
    margin: 13px 0;
}

#chooseMedia > p {
    text-align: center;
    font-size: 15px;
}

#mediaOptions {
    display: flex;
    flex-direction: column;
    height: 71%;
    justify-content: space-evenly;
    align-items: center;
}

#mediaOptions > .btn {
    width: 300px;
    height: 200px;
    background-color: #F4F7FB;
    border-radius: 36px;
}

#mediaOptions > .btn > span {
    font-size: 70px!important;
}