#appContainer {
    background-color: #E2E8F4;
}

#innerResultContainer {
    margin: 68px 44px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
}

#checkPng {
    position: absolute;
    width: 47px;
    top: -21px;
}

#innerResultContainer > p {
    margin-top: 40px;
    font-size: 20px;
}

#newItemImage {
    display: flex;
    justify-content: center;
}

#newItemImage > img {
    width: 83%;
}

#backToMyCloset {
    margin-top: 40px;
}