<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon/fav2.png')}}">
    <link rel="stylesheet" type="text/css" href="../../static/common.css">
    {% block head %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Demon Slayer</title>
</head>
<body>
    <div id="phoneScreen">
        <div id="statusBar">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Kimetsu_no_Yaiba_logo_KR.svg/1200px-Kimetsu_no_Yaiba_logo_KR.svg.png" style="width: 50px">
        </div>
        <div id="appContainer">
            {% block content %}{% endblock %}
            <div id="bottomContainer">
            </div>
        </div>
    </div>

    {% block script %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>