#appContainer {
    display: flex;
    justify-content: center;
}

#scoreResult {
    background-color: white;
    height: 86%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreResult > p  {
    margin-top: 20px;
}

#backHome {
    margin-top: 160px;
}

#bottomContainer {
    background-color: #F53202;
}
