<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/SangHwa.png')}}">
    <link rel="stylesheet" type="text/css" href="../static/sample.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>SUPER CAREER TEAM</title>
</head>
<body>
    <div id="phoneScreen">
        <div id="statusBar">
            <p>커리어팀</p>
        </div>
        <div id="appContainer">
            <div id="imageContainer" style="width: 300px; height: 200px; overflow-x: scroll;">
                <div id="imageWrapper" style="display: flex;">
                    <img class="characterImg" src="../static/IMG_0804.JPG" style="height: 226px; transform: translateY(-24px)">
                    <img class="characterImg" src="../static/IMG_1128.JPG" style="height: 226px; transform: translateY(-24px)">
                    <img class="characterImg" src="../static/IMG_1916.JPG" style="height: 226px; transform: translateY(-24px)">
                    <img class="characterImg" src="../static/IMG_7334.jpeg" style="height: 226px; transform: translateY(-24px)">
                </div>
            </div>
            <div id="episodeContainer" class="mt-3">
                <div class="accordion" id="accordionExample" style="width: 300px;">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                🔥 상화 🔥
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                ㅅㄹㅋㅂㄹ. ㅇㅁㅈ.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                🎵 윤회 🎵
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                사진만 찍으면 사람이..
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                ♾️ 승준 ♾️
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                다한다. 다해.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                🌸 현지 🌸
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                피어 리뷰 잘 써줬다.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scrollContainer" class="mt-3">
                <nav id="headingNavbar" class="navbar bg-body-tertiary px-3 mb-3">
                    <ul class="nav nav-pills" id="scrollNavbar">
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading1">글램핑</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading2">삿포로 여행</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading3">한강 + 잠실야구장</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading4">야시장(?)</a>
                        </li>
                    </ul>
                </nav>
                <div id="headingContents" data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
                    <h4 id="scrollspyHeading1">글램핑</h4>
                    <p>놀기만 하는 신입교육의 정점을 찍다. 물론 개꿀이었다. 승준의 피카츄 그리기 실력은 상당히 안타깝다.(현지짱)</p>
                    <h4 id="scrollspyHeading2">삿포로 여행</h4>
                    <p>오합지졸 우당탕탕. 화려한 생파. 찾아본 맛집마다 어쩜 그렇게 사람이 많은지. 그래도 즐거웠으니 됐다.</p>
                    <h4 id="scrollspyHeading3">한강 + 잠실야구장</h4>
                    <p>팀배치 이후 처음 어셈블. 야구 존잼. 그래서 최강야구 직관은 언제 간다구요?(유네 당장 움직여)</p>
                    <h4 id="scrollspyHeading4">야시장(?)</h4>
                    <p>닌텐도 이슈가 있었지만 4시간은 있었다. 마라마라 마라샹궈 먹어서 기부니가 좋았지요.</p>
                </div>
            </div>
            <div id="bottomContainer">
            </div>
        </div>
    </div>

    <script>
        var phoneScreen = document.getElementById("phoneScreen");
        var container = document.getElementById("imageContainer");
        var wrapper = document.getElementById("imageWrapper");

        container.addEventListener("scroll", function() {
            // 스크롤 위치를 구합니다.
            var scrollPos = container.scrollLeft;

            // 현재 스크롤 위치에 따라 이미지를 이동시킵니다.
            wrapper.style.transform = "translateX(-" + scrollPos + "px)";

            // 현재 보여지는 이미지와 비율에 따라 배경색을 변경합니다.
            if (scrollPos < 75) {
                phoneScreen.style.backgroundColor= "#F53202";
            } else if (scrollPos >= 75 && scrollPos < 225) {
                phoneScreen.style.backgroundColor= "#0F2B3F";
            } else if (scrollPos >= 225 && scrollPos < 375) {
                phoneScreen.style.backgroundColor= "#7BBEB2";
            } else if (scrollPos >= 375) {
                phoneScreen.style.backgroundColor= "#E9A6BC";
            }
        });

        var seasonContents = document.getElementById("headingContents");
        var navItems = document.getElementsByClassName("nav-item");

        seasonContents.addEventListener("scroll", function() {
            var scrollLoc = seasonContents.scrollTop;

            for (var i=0; i < 4; i++) {
                navItems[i].style.transform = "translateX(-" + scrollLoc/1.4 + "px)";
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>